<div class="container-fluid img-container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let member of members">
      <figure class="">
        <span class="label" [class.label-danger]="member.inRelation" [class.label-success]="!member.inRelation">
           <span *ngIf="member.inRelation;then inrel else rel">here is ignored</span>
            <ng-template #inrel><i class="fas fa-ban"></i></ng-template>
            <ng-template #rel><i class="fas fa-heart"></i></ng-template>
        </span>
        <span class="label label-default">
           <span *ngIf="member.gender == 'male';then male else female">here is ignored</span>
            <ng-template #male><i class="fas fa-mars"></i></ng-template>
            <ng-template #female><i class="fas fa-venus"></i></ng-template>
        </span>
        <img [src]="member.imageUrl" alt="Member Photo">
        <figcaption class="">
          <h3>{{member.name}} {{member.surname}}</h3>
          <p><b>Age </b>{{member.age}}</p>
          <p><b>Favorite Performers</b></p>
          <p *ngFor="let performer of member.favoritePerformers">
            {{performer}}<br>
          </p>
          <p><b>Likes </b><span class="likes">{{member.likes}}</span>
           <button (click)="updateLikes(member.$key, member.likes + 1)" type="button" class="white like-btn"><i class="fas fa-heart fa-sm"></i></button>
          </p>
        </figcaption>
      </figure><!--/figure -->
    </div><!--/col -->
  </div><!--/row -->
</div><!--/container -->
