/*Fonts*/
/* $fontFam: 'Courier', sans-serif;
$base-font-size: 14px; */

/*Colors*/
/* $textcolor: #222;
$pink: #C13ABB;
$white: #fff; */

body {
	font-family: 'Courier', sans-serif;
	font-size: 14px;
}

.pink {
	color: #C13ABB
}

.white {
	color: #fff;
}

.container-fluid {
	padding: 0;
}

.container-fluid .jumbotron {
     background: url('./assets/img/computer-1245714_1280.jpg') no-repeat center center;
	 background-attachment: fixed;
	 background-size: cover;
     border-radius: 0;
	 height: 70vh;
	 -webkit-filter: grayscale(90%);
	        filter: grayscale(90%);
}

.container-fluid.img-container {
	width:  90%;
	margin: 100px auto;
}

/*Jumbotron*/
.jumbotron  .hero-img {
	position: relative;
	height: 100%;
}

.jumbotron  .hero-img h1 {
	position: absolute;
	top:  50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #222;
	text-align: center;
	font-weight: normal;
	padding: 30px;
	background-color: #fff;
    font-size: 2em;
    margin: 0.67em 0;
}

/*Members Grid*/
figure img {
	max-width: 100px;
	padding: 10px;
}

figure {
	border: 2px dotted #C13ABB;
	padding: 10px;
	text-align: right;
	margin-bottom:  30px;
	min-height: 380px;

}

figcaption {
	text-align: left;
	color: #222;
	font-size: 16px;
    line-height: 1.1;
    padding: 10px;
}

figure h3 {
    margin: 0;
	font-weight: normal;
}

figure p {
	margin: 7px;
}

figure button {
	cursor: pointer;
	background-color: #C13ABB;
	border: 0;
	float: right;
    border-radius: 100%;
	padding: 7px 9px;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	outline: 0;
}

figure button:hover, 
figure button:focus {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

figure .label {
	float: left;
}

.btn-detail {
	clear: both;
	display: block;
	color:  #C13ABB;
	font-weight: bold;
}






